[Unit]
Description=Timer for vault-sync.service
Wants=vault-sync.service

[Timer]
OnBootSec=2s
OnUnitActiveSec=2s
Unit=vault-sync.service

[Install]
WantedBy=timers.target
